.footer {
    background-color: #1A1D25;
}
.footer_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--width-container-desktop);
}
.footer__navigation {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 40px;
    border-bottom: 1px solid #FFFFFF08;
}
.footer__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__other {
    display: flex;
    justify-content: space-between;
}
.footer__payment {
    display: flex;
    gap: 24px;
}
.footer__other {
    padding: 38px 0px 47px;
}
.footer__text {
    max-width: 300px;
    font-size: var(--font-size-text-1);
    font-weight: 500;
    line-height: var(--line-height-standart);
    color: #FFFFFF70;
}
.footer__link {
    font-size: var(--font-size-text-1);
    color: var(--color-text-5);
    transition: 0.5s;
}
.footer__link:hover {
    color: var(--color-text-1);
}