.banner {
    background: var(--color-bg);
    padding: var(--paddings-sections-for-desktop-1);
    overflow: hidden;
}
.banner__wrapper {
    display: flex;
    align-items: top;
    justify-content: space-between;
    max-width: var(--width-container-desktop);
    margin: 0 auto;
}
.banner__title {
    min-width: 515px;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    color: var(--color-text-1);
}
.banner__button {
    display: inline-block;
    margin: 40px 0px 80px;
    padding: var(--paddings-button);
    border-radius: var(--border-radius-button-1);
    background-color: var(--color-button-1);
    color: var(--color-button-2);
    font-weight: var(--font-weight-button);
    font-size: var(--font-size-buttons);
    line-height: var(--line-height-standart);
}
.banner__logo-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 334px;
    min-height: 85px;
}
.banner__picture_absolute {
    position: relative;
    left: -58px;
    top: -17px;
    z-index: 1;
}
.possibilities{
    z-index: 0;
    transform: skewY(-7deg);
    position: relative;
    top: -190px;
    background-color: var(--color-bg-2);
    overflow: hidden;
}
.possibilities__wrapper {
    display: flex;
    align-items: center;
    transform: skewY(7deg);
    gap: 64px;
    margin: 0 auto;
    padding: 250px 20px 80px;
    border-bottom: 1px solid var(--border-color);
    max-width: var(--width-container-desktop);
}
.possibilities__block {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}
.possibilities__text {
    width: 328px;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.purpose {
    max-width: var(--width-container-desktop);
    margin: -170px auto 0px;
    padding: 50px 0px 70px;
}
.purpose__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.purpose__block:not(:last-child) {
    border-bottom: 1px solid #4E5D7C08;
}
.purpose__content_left {
    margin-left: 118px;
}
.purpose__content_right {
    margin-right: 118px;
}
.purpose__title {
    max-width: 510px;
    font-size: 40px;
    margin-bottom: 24px;
}
.purpose_text {
    font-size: 18px;
    max-width: 500px;
    color: var(--color-text-4);
}
.purpose__pictupe_position {
    position: relative;
    left: -275px;
    top: -30px
}
.purpose__content_position {
    position: relative;
    left: -250px;
    min-width: 450px;
}
.presentation {
    background-color: var(--color-bg);
    padding: 120px 20px;
}
.presentation__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1156px;
    margin: 0 auto;
}
.presentation__title {
    margin-bottom: 24px;
    font-size: var(--font-size-title-1);
    font-weight: 600;
    line-height: 120%;
    color: var(--color-text-1);
}
.presentation__text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: var(--line-height-standart);
    color: var(--color-text-1-opacity);
}
.presentation__link {
    display: inline-block;
    margin: 40px 64px;
    padding: var(--paddings-button);
    border-radius: var(--border-radius-button-1);
    font-size: var(--font-size-buttons);
    font-weight: 800;
    line-height: var(--line-height-standart);
    color: var(--color-text-3);
    background-color: var(--color-bg-2);
}
.presentation__button {
    position: relative;
    top: -350px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-bg-2);
    width: 40px;
    height: 40px;
}
.presentation__list-wrapper {
    width: 980px;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.presentation__subtitle {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-text-1);
}
.presentation__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-image: url(/assets/images/marker1.svg);
    list-style-position: inside;
}
.presentation__list_another-marker {
    list-style-image: url(/assets/images/marker2.svg);
}
.presentation__paragraph {
    font-size: 18px;
    font-weight: 500;
    line-height: var(--line-height-standart);
    color: var(--color-text-1-opacity);
}
.security {
    display: flex;
    justify-content: space-between;
    gap: 78px;
    margin: 0px auto;
    width: var(--width-container-desktop);
    padding: var(--paddings-sections-for-desktop-1);
    border-bottom: 1px solid var(--border-color);
}
.security__title {
    margin: 24px 0px 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
}
.security__text {
    width: 337px;
    color: var(--color-text-5);
    font-size: var(--font-size-text-1);
}
.mobile-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width-container-desktop);
    margin: 0 auto;
    padding: var(--paddings-sections-for-desktop-2);
}
.mobile-version__title {
    font-size: var(--font-size-title-1);
    font-weight: 600;
    line-height: 120%;
}
.mobile-version__text {
    margin: 24px 0px 40px;
    font-size: var(--font-size-text-1);
    font-weight: 500;
    line-height: var(--line-height-standart);
    color: var(--color-text-5);
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-container-desktop);
    border-radius: 16px;
    margin: 0 auto;
    background-color: var(--color-bg);
}
.contacts__title {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-text-1);
    letter-spacing: 0%;
}
.contscts__text {
    max-width: 419px;
    font-size: var(--font-size-text-1);
    font-weight: 500;
    line-height: var(--line-height-standart);
    color: var(--color-text-1-opacity);
}
.contacts__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0px;
}
.contacts__communication {
    display: flex;
    align-items: center;
    gap: 16px;
}
.contacts__link {
    font-size: var(--font-size-text-1);
    font-weight: 500;
    line-height: var(--line-height-standart);
    color: var(--color-text-1);
}
.contacts__picture {
    position: relative;
    left: -80px;
    top: 4px;
}
.rate {
    max-width: var(--width-container-desktop-mini);
    margin: 80px auto;
}
.rate__title {
    text-align: center;
    font-size: var(--font-size-title-1);
}
.rate__text {
    margin: 24px 0px 40px;
    text-align: center;
    font-size: var(--font-size-text-1);
    color: var(--color-text-5);
}
.rate__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.card, .card_blue  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 48px 40px;
    border-radius: 8px;
    background-color: var(--color-bg-2);
    box-shadow: 0 0 32px 0px #4E5D7C16;
}
.card_blue {
    background-color: var(--color-bg);
}
.card__title, .card__title_white {
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}
.card__title_white {
    color: var(--color-text-1);
}
.card__text, .card__text_opacity {
    margin: 16px 0px 50px;
    font-size: var(--font-size-text-1);
    color: var(--color-text-5);
}
.card__text_opacity {
    margin: 16px 0px 32px;
    color: #FFFFFF60;
}
.card__button, .card__button_white {
    display: inline-block;
    padding: 12px 63.5px;
    border-radius: var(--border-radius-button-2);
    font-size: var(--font-size-buttons);
    font-weight: 800;
    line-height: var(--line-height-standart);
    background-color: var(--color-bg);
    color: var(--color-text-1);
}
.card__button_white {
    background-color: var(--color-bg-2);
    color: var(--color-text-3);
}
.card__money::after {
    content: '\20bd';
}
.card__wrapper {
    margin: 50px 0px 40px;
    display: grid;
    gap: 16px;
}
.card__price {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}
.card__description, .card__description_white, .card__money, .card__money_white {
    font-size: var(--font-size-text-1);
    font-weight: 500;
    line-height: 120%;
    color: #4E5D7C;
}
.card__description_white, .card__money_white {
    color: var(--color-text-1);
}
.card__benefit {
    display: inline;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: var(--line-height-standart);
    background-color: #1ABC9C;
    color: var(--color-text-1);
}
.card__money_yellow {
    position: relative;
    left: -15px;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: var(--font-size-text-1);
    font-weight: 700;
    line-height: 120%;
    background-color: #FFC736;
    color: var(--color-text-1);
}

.reviews {
    width: var(--width-container-desktop-mini);
    margin: 80px auto;
}
.reviews__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--color-bg);
}
.reviews__content {
    max-width: 400px;
    padding: 0px 0px 0px 104px;
}
.reviews__buttons {
    width: var(--width-container-desktop-mini);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -300px;
}
.reviews__switch {
    display: none;
}
.reviews__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: var(--font-size-title-1);
    font-weight: 600;
    line-height: 120%;
}
.reviews__text {
    color: var(--color-text-1);
}
.reviews__text_size {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}
.reviews__text_bold {
    font-weight: 700;
    margin-bottom: 5px;
}
.reviews__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.reviews__button_rotate {
    transform: rotate(180deg);
}
@media (max-width: 1295px) {
    .purpose {
        max-width: var(--width-container-tabletop);
    }
    .purpose__content_left {
        margin-left: 0px;
    }
    .purpose__content_right {
        margin-right: 0px;
    }
    .purpose__title {
        max-width: 350px;
        font-size: 32px;
    }
    .purpose_text {
        font-size: 16px;
        max-width: 350px;
    }
    .purpose__pictupe_position {
        position: relative;
        left: -205px;
        top: -30px
    }
    .purpose__content_position {
        position: relative;
        left: -180px;
        min-width: 350px;
    }
    .possibilities__wrapper {
        gap: 10px;
        max-width: var(--width-container-tabletop);
    }
    .possibilities__text {
        width: 228px;
        font-size: 17px;
    }
    .security {
        gap: 10px;
        max-width: var(--width-container-tabletop);
    }
    .security__title {
        margin: 24px 0px 20px;
        font-size: 25px;
    }
    .security__text {
        width: 280px;
        font-size: 17px;
    }
}
@media (max-width: 1156px) {
    .reviews {
        width: var(--width-container-tabletop-mini);
        margin: 80px auto 0px;
    }
    .reviews__buttons {
        width: var(--width-container-tabletop-mini);
        top: -240px;
    }
    .contacts {
        width: var(--width-container-tabletop-mini);
        padding: 30px 0px;
        overflow: hidden;
    }
    .contacts__picture {
        position: relative;
        left: 0px;
        top: 40px;
    }
    .contacts__content {
        min-width: 600px;
        position: relative;
        top: -50px;
        left: -90px;
    }
    .presentation__wrapper {
        width: var(--width-container-tabletop-mini);
    }
    .presentation__title {
        font-size: 40px;
    }
    .presentation__text {
        font-size: 16px;
    }
    .presentation__list-wrapper {
        width: var(--width-container-tabletop-mini);
    }
    .presentation__paragraph {
        font-size: 16px;
    }
    .mobile-version {
        align-content: center;
        width: var(--width-container-tabletop-mini);
        padding: var(--paddings-sections-for-tabletop);
    }
    .rate {
        width: var(--width-container-tabletop-mini);
        margin: 80px auto;
    }
    .rate__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
    .card, .card_blue  {
        padding: 28px 20px;
    }
    .card__text, .card__text_opacity {
        margin: 16px 0px 20px;
        font-size: 15px;
    }
    .card__button, .card__button_white {
        padding: 10px 30px;
    }
    .card__price {
        display: grid;
        gap: 10px;
        grid-template-columns: 1.8fr 1fr;
    }
    .card__description, .card__description_white, .card__money, .card__money_white {
        font-size: 15px;
    }
    .card__money_yellow {
        text-align: center;
        position: relative;
        left: -10px;
        padding: 5px 5px;
        font-size: 14px;
    }
}
@media (max-width: 900px) {
    .banner__picture_absolute {
        left: -120px;
    }
    .purpose {
        max-width: var(--width-container-tabletop2);
        padding: 0px 0px;
    }
    .purpose__block {
        flex-direction: column;
        gap: 40px;
    }
    .purpose__pictupe_position {
        position: relative;
        left: 100px;
        top: -250px;
    }
    .purpose__content_position {
        position: relative;
        left: 0px;
        top: -140px;
        min-width: 350px;
    }
    .possibilities__wrapper {
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;
        max-width: var(--width-container-tabletop2);
    }
    .possibilities__text {
        width: 328px;
        font-size: 24px;
    }
    .security {
        flex-direction: column;
        gap: 50px;
        max-width: var(--width-container-tabletop2);
    }
    .security__text {
        width: 500px;
    }
}
@media (max-width: 800px) {
    .reviews {
        width: var(--width-container-tabletop2-mini);
    }
    .reviews__wrapper {
        flex-direction: column;
    }
    .reviews__content {
        max-width: 400px;
        padding: 40px 0px 40px 0px;
    }
    .reviews__buttons {
        width: var(--width-container-tabletop2-mini);
        top: -250px;
    }
    .contacts {
        flex-direction: column;
        width: var(--width-container-tabletop2-mini);
        padding: 30px 0px;
        overflow: hidden;
    }
    .contacts__picture {
        position: relative;
        order: 2;
    }
    .contacts__content {
        min-width: 400px;
        position: static;
    }
    .presentation {
        padding: 80px 0px;
    }
    .presentation__wrapper {
        width: var(--width-container-tabletop2-mini);
    }
    .presentation__title {
        font-size: 28px;
    }
    .presentation__text {
        font-size: 15px;
    }
    .presentation__list-wrapper {
        flex-direction: column;
        width: var(--width-container-tabletop2-mini);
    }
    .presentation__button {
        position: relative;
        top: -170px;
        border: none;
        border-radius: 50%;
        background-color: var(--color-bg-2);
        width: 40px;
        height: 40px;
    }
    .mobile-version {
        width: var(--width-container-tabletop2-mini);
    }
    
    .rate {
        width: var(--width-container-tabletop2-mini);
    }
    .rate__wrapper {
        grid-template-columns: 1fr;
        gap: 25px;
    }
    .card, .card_blue  {
        padding: 48px 40px;
    }
    .card__text, .card__text_opacity {
        margin: 16px 0px 16px;
        font-size: var(--font-size-text-1);
    }
    .card__button, .card__button_white {
        text-align: center;
    }
    .card__price {
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 1fr;
    }
    .card__description, .card__description_white, .card__money, .card__money_white {
        font-size: var(--font-size-text-1);
    }
    .card__money_yellow {
        text-align: center;
        position: relative;
        left: -37px;
        padding: 0px 0px;
        font-size: var(--font-size-text-1);
    }
}

@media (max-width: 500px) {
    .banner {
        background: var(--color-bg);
        padding: 32px 0px 100px;
    }
    .banner__wrapper {
        max-width: var(--width-container-mobile);
        margin: 0 auto;
    }
    .banner__title {
        min-width: 328px;
        font-size: 32px;
    }
    .banner__picture_absolute {
        display: none;
    }
    .banner__button {
        margin: 32px 0px 56px;
        padding: var(--paddings-button-mobile);
    }
    .banner__logo-block {
        max-width: 264px;
    }
    .possibilities{
        top: -30px;
    }
    .possibilities__wrapper {
        flex-direction: column;
        padding: 80px 0px 80px;
        gap: 32px;
    }
    .possibilities__block {
        gap: 24px;
    }
    .possibilities__text {
        width: 256px;
        font-size: 18px;
    }
    .purpose {
        width: var(--width-container-mobile);
        margin: -10px auto 0px;
        padding: 48px 0px;
    }
    .purpose__block {
        display: flex;
        flex-direction: column;
        padding: 24px 0px 48px;
        gap: 32px;
    }  
    .purpose__content {
        order: 1;
    }
    .purpose__content_left {
        margin-left: 0px;
    }
    .purpose__content_right {
        margin-right: 0px;
    }
    .purpose__content_position {
        position: relative;
        left: 0px;
        top: 0px;
        min-width: 320px;
    }
    .purpose__title {
        max-width: 320px;
        font-size: 32px;
    }
    .purpose_text {
        max-width: 320px;
    }
    .purpose__pictupe_position {
        display: none;
    }

    .presentation__wrapper {
        width: var(--width-container-mobile);
    }
    .presentation__title {
        font-size: 36px;
    }
    .presentation__text {
        text-align: left;
    }
    .presentation__link {
        display: inline-block;
        margin: 44px 0px 60px;
        padding: var(--paddings-button-mobile);
        border-radius: var(--border-radius-button-1);
        font-size: var(--font-size-buttons);
        font-weight: 800;
        line-height: var(--line-height-standart);
        color: var(--color-text-3);
        background-color: var(--color-bg-2);
    }
    .presentation__button {
        display: none;
    }
    .presentation__list-wrapper {
        width: var(--width-container-mobile);
        flex-direction: column;
        gap: 48px;
    }
    .presentation__subtitle {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        color: var(--color-text-1);
    }
    .presentation__list {
        list-style-position: outside;
        margin-left: 30px;
    }
    .security {
        flex-direction: column;
        gap: 32px;
        margin: 0px auto;
        width: var(--width-container-mobile);
        padding: var(--paddings-sections-for-mobile);
        border-bottom: 1px solid var(--border-color);
    }
    .security__title {
        margin: 24px 0px;
        font-size: 24px;
    }
    .security__text {
        width: 320px;
    }
    .mobile-version {
        align-items: flex-start;
        width: var(--width-container-mobile);
        padding: var(--paddings-sections-for-mobile);
        overflow: hidden;
    }
    .mobile-version__title {
        font-size: var(--font-size-title-2);
        width: 200px;
    }
    .mobile-version__text {
        margin: 24px 0px 32px;
    }
    .contacts {
        width: var(--width-container-mobile);
        border-radius: 16px;
        margin: 0 auto;
        gap: 32px;
    }
    .contacts__wrap {
        background-color: var(--color-bg);
        align-items: 0 auto;
        padding-top: 64px;
    }
    .contacts__content {
        min-width: 300px;
    }
    .reviews__content {
        max-width: 400px;
        padding: 40px 0px 40px 0px;
    }
    .contacts__picture {
        order: 1;
    }
    .contacts__title {
        font-size: var(--font-size-title-2);
    }
    .contacts__picture {
        left: -0px;
    }
    .rate {
        width: var(--width-container-mobile);
        margin: 48px auto 64px;
    }
    .rate__title {
        text-align: left;
        font-size: var(--font-size-title-2);
    }
    .rate__text {
        text-align: left;
    }
    .rate__wrapper {
        grid-template-columns: 1fr;
    }
    .card, .card_blue  {
        padding: 48px 24px;
    }
    .card__button, .card__button_white {
        padding: 12px 59px;
    }
    .card__money_yellow {
        left: -15px;
    }
    .reviews {
        width: var(--width-container-mobile);
        margin: 64px auto;
    }
    .reviews__wrapper {
        flex-direction: column;
    }
    .reviews__content {
        width: 280px;
        padding: 48px 0px;
        order: 1;
    }
    .reviews__buttons {
        display: none;
    }
    .reviews__title {
        text-align: left;
        margin-bottom: 24px;
        font-size: var(--font-size-title-2);
    }
    .reviews__text {
        line-height: var(--line-height-standart);
    }
    .reviews__text_size {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .reviews__text_bold {
        font-weight: 700;
        margin-bottom: 5px;
    }
    .reviews__image {
        border-radius: 8px;
        width: 328px;
    }
    .reviews__switch {
        display: flex;
        gap: 8px;
        order: 2;
        margin-bottom: 48px;
    }
    .reviews__button, .reviews__button_active {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #FFFFFF50;
    }
    .reviews__button:hover {
        background-color: var(--color-button-1);
    }
    .reviews__button_active {
        background-color: var(--color-button-1);
    }
}