.header {
    background-color: var(--second-bg-color);
}
.header__wrapper {
    width: var(--width-container);
    margin: 0px auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.navigation__paragraph a {
    color: var(--first-text-color);
    padding: 8px 16px;
    font-size: 18px;
    line-height: 22px;
}
.navigation__paragraph_active a {
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-radius-8);
}
.navigation__paragraph:hover a {
    color: var(--first-text-color-hover);
}

.login {
    display: flex;
    align-items: center;
    gap: 8px;
}
.login:hover {
    color: var(--first-text-color-hover);

}
.login__button {
    color: var(--first-text-color);
    line-height: 22px;
    font-size: 18px;
}