@font-face {
    font-family: 'forTText';
    src: url('assets/fonts/RobotoFlex-Regular.woff') format('woff2'),
         url('assets/fonts/RobotoFlex-Regular.woff2') format('woff');
}
* {
    margin: auto;
    padding: 0px;
    font-family: 'forText', sans-serif;
    font-weight: 200;
}
:root {
    --opacity-text: 0.6;
}
body {
    background:  linear-gradient(180deg, #374151 0%, #111827 100%);
}
.header {
    display: flex;
    margin: 71px auto;
}
.header__navigation {
    display: flex;
}
.header__logo {
    color: #ffffff;
    text-decoration: none;
}
.header__span {
    background-color: #4B5563;
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 13px 15px;
    margin-right: 10px;
}
.header__navigation {

}
.navigation__link {
    color: #ffffff;
    text-decoration: none;
}
.form__input{
    width: 224px;
    height: 40px;
    background-color: rgba(31, 41, 55, 0.60);
    border: 1px solid #000000;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[placeholder="Поиск"]{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.header__search::placeholder {
    font-size: 16px;
    color: #ffffff;
    opacity: var(--opacity-text);
}
input:focus{
    background-color: rgba(255, 255, 255, 0); 
    outline: none;
}
input:focus::placeholder{
    color: rgba(31, 41, 55, 0.60);
}

.main {
    display: flex;
    flex-direction: column;
}
.picture {
    margin: 40px auto 70px;
}
/*heading*/
.heading {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 525px;
}
.heading__info {
    color: #ffffff;
    opacity: var(--opacity-text);
    font-weight: 400;
}
.heading__title {
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    padding: 20px 0px 20px;
    text-align: center;
    color: #ffffff;
}
.heading__autor {
    display: flex;
    align-items: center;
}
.autor__info {
    margin-left: 15px;
}
.autor__name {
    color: #ffffff;
    margin-bottom: 5px;
}
.autor__jtitle {
    color: #ffffff;
    opacity: var(--opacity-text);
}

.picrure__block {
    margin: auto;
}
/*text*/
.article {
    width: 708px;
}
.article__text {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 32px;
}
.article__text_size {
    font-size: 16px;
    line-height: 30px;
    font-size: 16px;
}
.article__link {
    color: #ffffff;
}

.footer {
    text-align: center;
    color: #ffffff;
    opacity: var(--opacity-text);
    margin: 50px 0px;
}

